<?xml version="1.0" encoding="utf-8"?>

<launch>

  <arg name="respawn_value" default="false" /> <!-- boolean: true, false -->

  <!-- ROS parameters -->
  <rosparam>use_sim_time: true</rosparam>

  <rosparam command="load" file="$(find segmapper)/launch/kitti/kitti_loop_closure.yaml"/>

    <!-- segmapper node -->
  <include file="$(find segmapper)/launch/segmapper.launch">
    <arg name="icp_configuration_file" value="$(find segmapper)/launch/kitti/icp_dynamic_outdoor.yaml"/>
    <arg name="icp_input_filters_file" value="$(find segmapper)/launch/kitti/input_filters_outdoor.yaml"/>
  </include>

</launch>
