<?xml version="1.0" encoding="utf-8"?>

<launch>

  <arg name="respawn_value" default="false" /> <!-- boolean: true, false -->

  <!-- Bag file path -->
  <!-- <arg name="bag_file" value="$(env HOME)/.segmap/kitti/2011_10_03_drive_27.bag"/> -->

  <!-- Rviz visualization config file path -->
  <!-- <arg name="rviz_config_file" value="$(env HOME)/.segmap/kitti/kitti_localization.rviz"/> -->

  <!-- ROS parameters -->
  <rosparam>use_sim_time: true</rosparam>

  <rosparam command="load" file="$(find segmapper)/launch/kitti/kitti_localization.yaml"/>

  <!-- Target cloud -->
  <!-- <arg name="target_cloud" value="$(env HOME)/.segmap/kitti/drive27_target_map_color_added.pcd"/> -->
  <arg name="target_cloud" value="/external_datasets/bhahn/2011_10_03/basemaps/0027_320_map2019-05-09T19:16:52.560291.pcd"/>
  <rosparam param="/SegMapper/SegMatchWorker/target_cloud_filename" subst_value="True">$(arg target_cloud)</rosparam>

  <!-- Callgrind profiling option -->
  <!-- <arg name="enable_callgrind" default="false" />
  <arg name="play_rate" value="0.005" if="$(arg enable_callgrind)"/>
  <arg name="play_rate" value="1" unless="$(arg enable_callgrind)"/> -->

    <arg name="cnn_model_path" value="$(env HOME)/.segmap/trained_models/segmap64/"/>
  <!-- <arg name="cnn_model_path" value="$(env HOME)/.segmap/trained_models/segmap64_standard/2019-04-12-09-55-07/"/> -->
  <!-- <arg name="cnn_model_path" value="$(env HOME)/.segmap/trained_models/segmap64_standard/2019-04-23-19-28-41/"/> -->
  <!-- <arg name="cnn_model_path" value="$(env HOME)/.segmap/trained_models/segmap64_no_rloss/2019-04-11-18:01:50/"/> -->
  <!-- <arg name="cnn_model_path" value="$(env HOME)/.segmap/trained_models/segmap64_color_semantics/2019-04-29-17-08-50/"/> -->
  <!-- <arg name="cnn_model_path" value="$(env HOME)/.segmap/trained_models/segmap64_color_semantics/2019-05-08-16-25-34/"/> -->
  <rosparam param="/SegMapper/SegMatchWorker/SegMatch/Descriptors/cnn_model_path" subst_value="True">$(arg cnn_model_path)</rosparam>

  <!-- rviz node -->
  <!-- <node name="visualizer" pkg="rviz" type="rviz" output="screen" respawn="$(arg respawn_value)" args="-d $(arg rviz_config_file)" /> -->

  <!-- segmapper node -->
  <include file="$(find segmapper)/launch/segmapper.launch">
    <arg name="icp_configuration_file" value="$(find segmapper)/launch/kitti/icp_dynamic_outdoor.yaml"/>
    <arg name="icp_input_filters_file" value="$(find segmapper)/launch/kitti/input_filters_outdoor.yaml"/>
  </include>

</launch>
